* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e140a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1e140a;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #1e140a;
    padding: 15px;
    color: white;
    font-size: 12px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    color: #3d251e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.container div {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 0;
    width: calc(33.333% - 20px); 
    margin-bottom: 20px;
}

.container img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container div {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container div {
        width: calc(50% - 20px);
    }
}
